header {
  background: #f6fafc;
}

nav {
  width: 100%;
  position: relative;
  display: block;
  background: #fff;
  border-radius: 8px;
  padding: 1rem;
}

.nav-left {
  margin: 0.2rem;
  width: 80%;
  margin-left: 1rem;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.nav-right {
  margin: 0.2rem;
  width: 20%;
  margin-left: 1rem;
  padding: 5px;
  display: flex;
  flex-direction: row;
}

.form-group {
  margin-top: 7px;
}

.form-group input {
  border: none;
  background-color: skyblue;
  width: 280px;
  border: 1px solid #bdd8f1;
  background: #bdd8f1;
  padding-left: 2rem;
  text-overflow: ellipsis;
  height: 35px;
}

.form-group button {
  background-color: #bdd8f1;
  border: none;
  height: 35px;
}

.form-group button i {
  color: black;
  padding: 5px;
  margin-right: 0px;
}

.user {
  margin-top: 7px;
}

.user i {
  padding-right: 5px;
  fill: #bdd8f1;
}

.user button {
  background-color: #bdd8f1;
  border: 1px solid #bdd8f1;
}

/* categories */
.catelist li {
  display: inline-block;
  margin: 0px 2%;
  cursor: pointer;
  padding: 1%;
  position: relative;
}
.catelist li:hover ul {
  display: block;
  position: absolute;
  top: 100%;
  background: #fff;
  box-shadow: 0 15px 25px 0px #eee;
  padding: 16px;
  width: 250px;
  text-align: left;
  transform: translateX(-50%);
  left: 50%;
  cursor: auto;
}
.subcatelist {
  display: none;
}
.catelist li:hover ul li {
  margin: 0;
  margin-bottom: 0px;
  margin-bottom: 12px;
  width: 100%;
}
.catelist li:hover ul li a {
  width: 100%;
  display: block;
}
